
.nav_links{
    display:inline-flex;
}
.carousel_band{
    background-color: white;
    width: 98%;
    height: 22%;
    box-shadow: 2px 3px 5px black;
    display:inline-block;
    justify-content: center;
}
#sidebar-wrapper{
    box-shadow: 2px 3px 5px black;
    background-color: white;
    text-shadow: 2px 3px 5px rgb(134, 131, 131);
}
.concert-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  
}

.form-control{
    margin-top :2em;
    margin-bottom: 2em;
}