.salle{
    width: 600px;
    margin-left: 40%;
    transition: transform .1s; 
}
.salle:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
.img-salle{
    float:left;
}

.img-concert{
margin-left: 15px;
margin-top: 15px;
}

.card-wrap-1 {
    margin-left: 40%;
}